*.class
*.pyc
*.pyo
eos_db/settings.py
eos_db/settings.py
*.class
*.pyc
*.pyo
*.class
*.pyc
*.pyo
eos_db/settings.py
*.class
*.pyc
*.pyo
docs/_build
py3venv
=======
*.pyc
*~
*.deb
*.gz
id_*.pub
*__/
*.egg-info/
build/
dist/
